Calculator{
    background-color: #ddd;
}
QPushButton{
    background-color: #4444ff;
    color: white;
    margin: 13px;
    cursor: hand;
    padding-top: 25px; padding-bottom: 25px;
    padding-right: 37px; padding-left: 37px;
    font-size: 40px;
    font-family: consolas;
    border-radius: 48px;
}
#label{
    font-size: 80px;
    font-family: consolas;
    color: #111;
}
#error_label{
    font-size: 30px;
    font-family: times new roman;
    color: #f01010;
}
QPushButton:pressed{
    margin: 16px;
    padding: 0px;
    border-radius: 45px;
    font-size: 38px;
}